{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>{{ post.title }}</h1>
<small>
    By: <a href="{{ url_for('main.user', username=post.author.username) }}">
        {{ post.author.username }}
    </a> | {{ moment(post.timestamp).format('LLL') }}
</small>
{% if current_user.is_admin %}
<form method="post" action="{{ url_for('admin.delete_post', post_id=post.id) }}" style="display:inline;">
    {{ form.hidden_tag() }}
    <input type="hidden" name="next" value="{{ url_for('admin.admin_dashboard') }}">
    <button type="submit" class="btn btn-danger float-end">Delete</button>
</form>
{% endif %}
<hr>
<p>
    {{ post.body }}
</p>

<hr>
<!-- Comment Form -->
<h3>Leave a comment</h3>
{{ wtf.quick_form(form, action=url_for('main.make_comment', post_id=post.id)) }}

<hr>

<!-- List of Comments -->

<h3>Comments ({{ post.comment_count() }})</h3>
{% for comment in comments %}
<div class="mb-2">
    <a href="{{ url_for('main.user', username=comment.author.username) }}">
        <strong>{{ comment.author.username }}</strong>
    </a>
    <small>{{ moment(comment.timestamp).format('LLL') }}</small>
    {% if current_user.is_admin %}
    <form method="post" action="{{ url_for('admin.delete_comment', comment_id=comment.id) }}" style="display:inline;">
        {{ form.hidden_tag() }}
        <input type="hidden" name="next" value="{{ url_for('main.post_detail', post_id=post.id) }}">
        <button type="submit" class="btn btn-danger btn-sm my-1">Delete</button>
    </form>
    {% endif %}
    <div class="card">
        <div class="card-body">
            <p>{{ comment.body }}</p>
        </div>
    </div>

</div>
{% else %}
<p>No comments yet. Be the first to comment!</p>
{% endfor %}
<nav aria-label="Post navigation">
    <ul class="pagination">
        <li class="page-item{% if not prev_url %} disabled{% endif %}">
            <a href="{{ prev_url }}" class="page-link">
                <span aria-hidden="true">&larr;</span> {{ _('Newer posts') }}
            </a>
        </li>
        <li class="page-item{% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url }}" class="page-link">
                {{ _('Older posts') }} <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
    </ul>
</nav>

{% endblock %}