{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<h1>{{ post.title }}</h1>
<small>
    By: <a href="{{ url_for('user', username=post.author.username) }}">
        {{ post.author.username }}
    </a> | {{ moment(post.timestamp).format('LLL') }}
</small>
<hr>
<p>
    {{ post.body }}
</p>

<!-- Comment Form -->
<h3>Leave a comment</h3>
{{ wtf.quick_form(form, action=url_for('make_comment', post_id=post.id)) }}

<hr>

<!-- List of Comments -->
<h3>Comments ({{ post.comments|length }})</h3>
{% for comment in post.comments %}
<div class="mb-2">
    <a href="{{ url_for('user', username=comment.author.username) }}"><strong>{{ comment.author.username }}</strong></a>
    <small>{{ moment(comment.timestamp).format('LLL') }}</small>
    <p>{{ comment.body }}</p>
</div>
{% else %}
<p>No comments yet. Be the first to comment!</p>
{% endfor %}

{% endblock %}